:root{
    --bright:#fff;
    --bright_green:#71d3aa;
    --red:#ff006e;
    --green:#209162;
    --yellow:#fff200;
    --dark:#151c1f;
    --dark2:#151c1f;
    --color1:#636363;
    --color2:#b400da;
    --color4:#6a000d;
    --color5:#ff5c00;
    --color7:#8f9d35;
    --color10:#143fba;
}
body{
   font-family: Roboto; 
   font-size: 3vh;
   overflow: hidden;
}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;  
  /* background: transparent; */
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--bright);
}
.linea{
    font-weight: 800;
    font-family: Montserrat Alternates;
}
em.linea{
    font-weight: 400;
}
a{
    color: var(--bright_green);
}
::selection{
    background-color: var(--bright_green);
    color: var(--bright);
}

.hidden{
    opacity: 0;
}

.sidebar{
    position: fixed;
    display: block;
    width: 20%;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
    background: var(--bright);
    text-align: center;
    color: rgba(var(--dark),1);
    background-color: rgba(0,0,0,0);
}
.sidebar .logo{
    background-color: rgba(var(--bright),1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 30vh;
   font-family: Montserrat Alternates;
   font-size: 2em;
}
.sidebar .logo :nth-child(1){
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    font-weight: 800;
    margin: 0 auto;
    padding: 40px 0 0;
}
.sidebar .logo :nth-child(2){
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    font-weight: 400;
    margin: 0;
    font-size: 0.63em;
    color: var(--green);
}
.sidebar .slogan{
    font-weight: 100;
    font-family: Montserrat Alternates;
}
.sidebar .nav{
    background-color: rgba(var(--bright),1);
    margin: 0;
    padding: 0;
    font-family: Montserrat Alternates;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height:70vh;
}
.sidebar .nav a{
    box-sizing: border-box;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-bottom: 2px solid var(--dark);
    text-decoration: none;
    margin: 20px 15%;
    color: var(--dark);
    letter-spacing:4px;
    transition: .4s;
    padding: 0 0 10px;
}
.sidebar .nav a:hover{
    /* border-bottom: 5px solid var(--dark); */
    color: var(--green);
}
.sidebar .nav a.active{
    border-bottom: 5px solid var(--dark);
}


/* Scroll Down */
.scroll_down{
    position: fixed;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    opacity: 0.1;
    border-radius: 15px;
    margin-left: 53%;
    margin-right: 33%;
    width: 14%;
    top: calc(100vh - 70px);
    background-color: var(--green);
    left: 0;
    animation: 2s Flash ;
    transition: .3s;
}
.scroll_down:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 10px 2px var(--green);
}
@keyframes Flash {
    30% {opacity: 0.1;}
    60% {opacity: 0.7;
        box-shadow: 0px 0px 10px 2px var(--green);}
    90% {opacity: 0.1;}
}



.main_panel{
    overflow-y: scroll;
    flex-direction: column;
    position: fixed;
    top: 0;
    opacity: .95;
    color: var(--bright);
    right: 0;
    height: 100vh;
    background-color: var(--dark);
    z-index: 4;
    width: 80%;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    transition: .2s;
    scroll-behavior: smooth;
}
.main_panel .row{
    align-items: flex-start;
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
}
.main_panel > div {
    scroll-snap-align: center;
}
.main_panel .row .left_side_text{
    height: 62vh;
    margin: 20vh 0;
    width: 40%;
    font-size: 1.9em;
    text-align: right;
    border-right: 10px solid var(--bright);
    padding-right: 20px;
}
.main_panel .row .left_side_text .span1,
.main_panel .row .left_side_text .span4,
.main_panel .row .left_side_text .span7{
    color: var(--bright);
    font-family: Roboto;
    transition: .3s;
}
.main_panel .row .left_side_text .span3,
.main_panel .row .left_side_text .span5,
.main_panel .row .left_side_text .span9{
    color: var(--red);
    font-family: Arial serif;
    font-style: italic; 
    transition: .3s;
}
.main_panel .row .left_side_text .span2,
.main_panel .row .left_side_text .span6,
.main_panel .row .left_side_text .span8{
    color: var(--green);
    font-family: Montserrat Alternates;
    font-weight: 800;
    transition: .3s;
}

.main_panel .row .right_side_text{
    height: 82vh;
    margin: 15vh 0 0;
    width: 40%;
    font-size: 3em;
    margin: 0;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-left: 20px;
}
.main_panel .row .right_side_text p{
    margin: 0;
}

.main_panel .row.row2 {
    flex-direction: column;
}
.main_panel .row.row2 .features_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    margin: 5vh auto;
}
.main_panel .row.row2 .features_list .header{
    font-size: 1.8em;
    border-bottom: 10px solid var(--bright_green);
    padding-bottom: 30px;
}
.main_panel .row.row2 .features_list .sub_header{
    text-align: center;
    font-family: Montserrat Alternates;
    font-weight: 200;
    font-size: 1.3em;
    margin-top: 30px;
}
.main_panel .row.row2 .features_list .features{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.main_panel .row.row2 .features_list .features p{
    background-color: rgba(0,0,0,.3);
    color: var(--bright);
    padding: 15px;
    width: 20vh;
    margin: 20px;
    border-radius: 3px;
}
.main_panel .row.row2 .features_list .features h4{
    font-size: 1.5em;
}
.main_panel .row.row2 .footnote{
    font-size: 0.6em;
    margin: 20px;
    text-align: right;
    opacity: .5;
    margin-left: auto;
    color: var(--bright_green);
    display: block;
}

.main_panel .row.row3 .left_side_text{
    width: 30%;
}
.main_panel .row.row3 .left_side_text p{
    margin: 0;
}
.main_panel .row.row3 .left_side_text h3{
    margin: 0;
}
.main_panel .row.row3 .right_side_text{
    justify-content: center;
    width: 70%;
    font-size: 2.25em;
    padding: 30px;
}


.main_panel .row.row4 .left_side_text{
    width: 70%;
    font-size: 2.25em;
    /* border-radius: 0 25% 0 0; */
    padding: 30px;
}
.main_panel .row.row4 .left_side_text p{
    margin: 0;
    font-size: 0.75em;
}
.main_panel .row.row4 .right_side_text{
    width: 30%;
}


/* Footer */

.footer_container{
    width: 100%;
    z-index: 5;
    text-align: center;
    padding: 20px 0;
    background: rgba(0,0,0,.3);
    word-spacing: 5px;
}
.icons8_link{

}


/* Product page */

.main_panel.products .row{
    justify-content: start;
    scroll-snap-align: start !important;
}

.main_panel .row.row1 .linea_product,
.main_panel .row.row2 .lineapp_product,
.main_panel .row.row3 .custom_product{
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_panel .row.row1 .linea_product h3,
.main_panel .row.row2 .lineapp_product h3,
.main_panel .row.row3 .custom_product h3{
    border-bottom: 10px solid var(--bright_green);
    padding-bottom: 25px;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 20px;
}
.main_panel .row.row1 .linea_product .describe_cols,
.main_panel .row.row2 .lineapp_product .describe_cols,
.main_panel .row.row3 .custom_product .describe_cols{
    display: flex;
    justify-content: space-evenly;
}
.main_panel .row.row1 .linea_product .describe_cols div,
.main_panel .row.row2 .lineapp_product .describe_cols div,
.main_panel .row.row3 .custom_product .describe_cols div{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
    display: block;
    text-align: center;
}
.main_panel .row.row1 .linea_product .describe_cols img,
.main_panel .row.row2 .lineapp_product .describe_cols img,
.main_panel .row.row3 .custom_product .describe_cols img{
    width: 50px;
    display: block;
    margin: 45px auto;
    filter: invert(1);
}
.main_panel .row.row2 .lineapp_product .lineapp{
    text-align: center;
}
.main_panel .row.row3 .custom_product .custom{
    text-align: right !important;
}



/* Background animation */

.an1{
    position:fixed;
    height:100vh;
    top:0;
    right:0;
    background:var(--bright);
    box-shadow:0 0 16px rgba(0,0,0,0.15) inset;
    z-index: -5;
}
.an2 {
    position:absolute;
    height:25vh;
    top:50vh;
    left:0;
    background:var(--bright_green);
    z-index:-4;
    animation:70s Skew2 infinite;
}
.an3 {
    background:var(--bright);
    height:25vh;
    position:absolute;
    top:25vh;
    right:0;
    z-index: -3;
}
.an4 {
    background:var(--bright);
    content:'';
    height:25vh;
    position:absolute;
    top:75vh;
    left:0;
    z-index: -3;
}
.an1,.an3,.an4,.an2{
    width:100vw;
    display:block;
    box-shadow:0 0 16px rgba(0,0,0,0.15);
}
.an1,.an3,.an4{
    animation:90s Skew infinite;
}
.an2 {animation-delay:2s}
.an3 {animation-delay:6s}
.an4 {animation-delay:4s}
@keyframes Skew {
    10% {transform:skewY(-45deg) scale(1,3);}
    30% {transform:skewY(45deg) scale(1,3);}
    50% {transform:skewY(-45deg) scale(1,3);}
    70% {transform:skewY(45deg) scale(1,3);}
    90% {transform:skewY(-45deg) scale(1,3);}
}
@keyframes Skew2 {
    10% {transform:skewY(50deg) scale(1,3);}
    30% {transform:skewY(50deg) scale(1,3);}
    50% {transform:skewY(-50deg) scale(1,3);}
    70% {transform:skewY(50deg) scale(1,3);}
    90% {transform:skewY(-50deg) scale(1,3);}
}
