:root{
    /* --dark:#151c1f; */
    --dark:#121C28;
    --bright:#fff;
    --red:#ff006e;
    --green:#209162;
    --bright_green:#71d3aa;
    --yellow:#E8DB7D;
    --blue:#3300ff;
    --grey:#5f889a;
    --color1:#636363;
    --color2:#b400da;
    --color4:#6a000d;
    --color5:#ff5c00;
    --color7:#8f9d35;
}
body{
   font-family: Roboto; 
   font-size: 3vh;
   overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;  
  /* background: transparent; */
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--bright);
}
.linea{
    font-weight: 800;
    font-family: Montserrat Alternates;
}
em.linea{
    font-weight: 400;
}
a{
    color: var(--bright_green);
}
::selection{
    background-color: var(--bright_green);
    color: var(--bright);
}



/* Sidebar */
.sidebar{
    position: fixed;
    display: block;
    width: 20%;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
    background: var(--bright);
    text-align: center;
    color: rgba(var(--dark),1);
    background-color: rgba(255,255,255,0.0);
}
.sidebar .logo{
    background-color: rgba(var(--bright),1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 30vh;
   font-family: Montserrat Alternates;
   font-size: 2.3em;
   color: var(--bright);
   text-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
   mix-blend-mode: difference;
}
.sidebar .logo a{
   text-decoration: none;
   color: var(--bright);
   padding: 0;
}
.sidebar .logo :nth-child(1){
    font-weight: 800;
    margin: 0 auto;
    padding: 25px 0 0;
}
.sidebar .logo :nth-child(2){
    font-weight: 400;
    margin: 0;
    font-size: 0.63em;
}
.sidebar .slogan{
    font-weight: 100;
    font-family: Montserrat Alternates;
}
.sidebar .nav{
    background-color: rgba(255,255,255,0);
    box-shadow: 0px 0px 15px rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    font-family: Montserrat Alternates;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height:70vh;
}
.sidebar .nav a{
    box-sizing: border-box;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-bottom: 4px solid var(--bright);
    text-decoration: none;
    margin: 20px 22%;
    color: var(--bright);
    letter-spacing:4px;
    transition: .2s;
    padding: 0 0 10px;
}
.sidebar .nav a:hover{
    border-bottom: 4px solid var(--bright_green);
    color: var(--bright_green);
}
.sidebar .nav a.active{
    border-bottom: 4px solid var(--bright_green);
}
.mobile_menu{
    display: none;
}


/* Footer */
.footer_container{
    width: 100%;
    z-index: 5;
    text-align: center;
    padding: 20px 0 0;
    background: rgba(0,0,0,.3);
    word-spacing: 5px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: space-evenly;
}
.footer_container .copyright{
    width: 100%;
}
.footer_container .linea{
    font-weight: 800;
}
.footer_container .credits {
    width: 100%;
}
.footer_container .credits {
    padding: 10px 0 0;
}
.footer_container .credits p{
    float: right;
    padding: 0 10px 10px;
    margin: 0;
    font-size: 0.7em;
    opacity: .5;
    color: var(--bright_green);
}



/* Main Panel */
.main_panel{
    overflow-y: scroll;
    flex-direction: column;
    position: fixed;
    top: 0;
    opacity: .95;
    color: var(--bright);
    right: 0;
    height: 100vh;
    background-color: var(--dark);
    z-index: 4;
    width: 80%;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    transition: .2s;
    scroll-behavior: smooth;
}
.main_panel .row{
    align-items: flex-start;
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
}
.main_panel > div {
    scroll-snap-align: center;
}
.main_panel .row .left_side_text{
    height: 62vh;
    margin: 20vh 0;
    width: 40%;
    font-size: 1.7em;
    text-align: right;
    border-right: 10px solid var(--bright);
    padding-right: 20px;
}
.main_panel .row .left_side_text .span1,
.main_panel .row .left_side_text .span4,
.main_panel .row .left_side_text .span7{
    color: var(--bright);
    font-family: Roboto;
    transition: .3s;
}
.main_panel .row .left_side_text .span3,
.main_panel .row .left_side_text .span5,
.main_panel .row .left_side_text .span9{
    color: var(--red);
    font-family: 'Roboto Slab', serif;
    /* font-style: italic;  */
    transition: .3s;
}
.main_panel .row .left_side_text .span2,
.main_panel .row .left_side_text .span6,
.main_panel .row .left_side_text .span8{
    color: var(--green);
    font-family: Montserrat Alternates;
    font-weight: 800;
    transition: .3s;
}
.main_panel .row .right_side_text{
    height: 82vh;
    margin: 15vh 0 0;
    width: 40%;
    font-size: 3em;
    margin: 0;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-left: 20px;
}
.main_panel .row .right_side_text p{
    margin: 0;
}
.main_panel .row.row2 {
    flex-direction: column;
}
.main_panel .row .features_list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    margin: 0 auto;
}
.main_panel .row .features_list .header{
    font-size: 1.8em;
    border-bottom: 10px solid var(--bright_green);
    padding-bottom: 30px;
    text-align: center;
    margin-top: 45px;
    font-family: Montserrat Alternates;
}
.main_panel .row .features_list .sub_header{
    text-align: center;
    font-family: Montserrat Alternates;
    font-weight: 200;
    font-size: 1.5em;
    margin-top: 30px;
}
.main_panel .row .features_list .features{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.main_panel .row .features_container{
    background-color: rgba(0,0,0,.4);
    color: var(--dark);
    border-radius: 10px;
    margin: 15px 10px;
    opacity: 1;
    transition: .2s;
    width: 40vh;
    /* box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.15); */
    /* border: 1px solid var(--bright_green); */
}
.main_panel .row .features_list .features img{
    width: 50px;
    margin: 15px auto 10px;
    filter: invert(1);
}
.main_panel .row .features_list .features p{
    width: 10vh;
    font-size: 0.9em;
    /* background-color: var(--bright_green); */
    background-color: rgba(0,0,0,0.8);
    color: var(--bright);
    padding: 15px;
    width: 25vh;
    margin: 20px auto;
    border-radius: 3px;
    font-family: Montserrat Alternates;
    font-weight: 500;
}
.main_panel .row .features_list .features h4{
    border-bottom: 10px solid var(--bright_green);
    font-size: 1.8em;
    margin: 10px auto 20px;
    color: var(--bright);
    padding: 20px 50px 20px;
}
.main_panel .row .footnote{
    font-size: 0.6em;
    margin:7px;
    text-align: right;
    opacity: .5;
    margin-left: auto;
    color: var(--bright_green);
    display: block;
}
.main_panel .row.row3 .left_side_text{
    width: 30%;
}
.main_panel .row.row3 .left_side_text p{
    margin: 0;
}
.main_panel .row.row3 .left_side_text h3{
    margin: 0;
}
.main_panel .row.row3 .right_side_text{
    justify-content: center;
    width: 70%;
    font-size: 2.25em;
    padding: 30px;
}


/* Product page */
.main_panel.products .row{
    justify-content: start;
    scroll-snap-align: start !important;
}
.main_panel .row.row0 .product_overview,
.main_panel .row.row1 .linea_product,
.main_panel .row.row2 .lineapp_product,
.main_panel .row.row3 .custom_product{
    padding: 60px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_panel .row.row0 .product_overview h3,
.main_panel .row.row1 .linea_product h3,
.main_panel .row.row2 .lineapp_product h3,
.main_panel .row.row3 .custom_product h3{
    border-bottom: 10px solid var(--bright_green);
    padding-bottom: 25px;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}
.main_panel .row.row0 .product_overview .describe_cols,
.main_panel .row.row1 .linea_product .describe_cols,
.main_panel .row.row2 .lineapp_product .describe_cols,
.main_panel .row.row3 .custom_product .describe_cols{
    display: flex;
    justify-content: space-evenly;
}
.main_panel .row.row0 .product_overview div,
.main_panel .row.row1 .linea_product .describe_cols div,
.main_panel .row.row2 .lineapp_product .describe_cols div,
.main_panel .row.row3 .custom_product .describe_cols div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: block;
    text-align: center;
}
.main_panel .row.row0 .product_overview img,
.main_panel .row.row1 .linea_product .describe_cols img,
.main_panel .row.row2 .lineapp_product .describe_cols img,
.main_panel .row.row3 .custom_product .describe_cols img{
    width: 60px;
    display: block;
    margin: 65px auto;
    filter: invert(1);
}

.linea_product.features_list .features .features_container{
    display: flex;
    color: var(--bright);
    padding: 0;
    height: 100px;
}
.linea_product.features_list .features .features_container img{
    border-right: 10px solid var(--dark);
    margin: 0;
    padding: 0 15px;
    height: 100px;
    object-fit: contain;
}
.main_panel .row .linea_product.features_list .features .features_container p{
    padding: 25px 15px;
    background-color: inherit;
    margin: 0;
    width: 70%;
}
.main_panel .row .linea_product.features_list .features .features_container div{
    height: 100px;
}


.main_panel .row .product_overview{
    width: 100%;
}
.main_panel .row .product_overview .features .feature div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center
}
.main_panel .row .product_overview .features .feature p{
    width: 16%;
    margin: 20px 0;
}
.main_panel .row .product_overview .features .feature p.linea{
    text-align: left;
    font-size: 1.4em;
}


/* Background animation */
#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: var(--green);  
    --gradient-color-2: var(--red); 
    --gradient-color-3: var(--dark);
    --gradient-color-4: var(--dark); 
    z-index:0;
    transform: rotate(180);
}
html,body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
}


/* Scroll Down */
.scroll_down{
    position: fixed;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    opacity: 0.1;
    border-radius: 15px;
    margin-left: 53%;
    margin-right: 33%;
    width: 14%;
    top: calc(100vh - 70px);
    background-color: var(--green);
    left: 0;
    animation: 2s Flash ;
    transition: .3s;
}
.scroll_down:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 10px 2px var(--green);
}
@keyframes Flash {
    30% {opacity: 0.1;}
    60% {opacity: 0.7;
        box-shadow: 0px 0px 10px 2px var(--green);}
    90% {opacity: 0.1;}
}

/* Mobile */

@media  (max-width: 1000px) {

    ::-webkit-scrollbar {
        width: 0px !important;  
        background: var(--dark);
    }

    div.sidebar{
      position: fixed;
      top: 0;
      display: block;
      font-size: 0.5em;
      z-index: 5;
      width: 100%;
      min-height: auto;
      height: 80px;
      background-color: rgba(0,0,0, 0.5);
    }
    div.sidebar .nav{
        justify-content: space-evenly;
        height:150px;
        display: flex;
        position: fixed;
        top: 80px;
        right: -100vw;
        transition: .2s;
        width: 100%;
        background-color: rgba(0,0,0, 0.95);
    }
    div.sidebar .nav a{
        margin: 10px;
    }
    div.sidebar .logo{
        width: 50%;
        margin-left: 0px;
        padding: 10px;
    }
    div.sidebar .logo :nth-child(1),
    div.sidebar .logo :nth-child(2){
        padding: 0px;
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
        text-align: left;
    }

    div.mobile_menu{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        padding: 20px;
    }
    .mobile_menu div {
        width: 35px;
        height: 5px;
        background-color: var(--bright);
        margin: 6px 0;
    }

    div.scroll_down{
        width: 30%;
        padding: 0 15%;
        margin: 0 20%;
    }

    div.main_panel{
        scroll-snap-type: proximity;
        scroll-snap-type: y proximity;
        opacity: 1;
        font-size: 2vh;
        width: 100%;
        bottom: 0;
        top: auto;
        box-shadow: inset 0px 0px 5px rgba(0,0,0,.3);
        padding: 0;
        height: calc(100vh - 80px);
    }

    div.main_panel .row.row1{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 80px);
    }
    div.main_panel .row.row1 .left_side_text,
    div.main_panel .row.row1 .right_side_text{
        margin: 0;
        width: 90%;
        text-align: center;
        padding: 5%;
        border: 0;
        height: auto;
    }
    div.main_panel .row.row1 .left_side_text{
        border-bottom: 10px solid var(--bright);
    }

    div.main_panel .row.row2{
        display: block;
    }
    div.main_panel .row.row2 .features_list,
    div.main_panel .row.row2 .features_list .features{
        flex-direction: column;
        height: auto;
    } 
    div.main_panel .row.row2 .features_list .features .features_container{
        width: 90%;
        margin: 5%;
    }

}